.Palette {
  height: 100vh;
  /* display: flex;
  flex-direction: column; */
  overflow: hidden;
}

.Palette-colors {
  height: 88vh;
}

.Palette-footer {
  background: white;
  height: 5vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.emoji {
  font-size: 1.2rem;
  margin: 0 1rem;
  margin-top: -4px;
}
